html {
  font-size: 20px;
}

body {
  /* background: #0f0f0f; */
  /* backdrop-filter: blur(2px); */
  /* background-repeat: no-repeat;
  background-size: contain; */
  /* clip-path: polygon(0% 0%, 0% 100%, 10% 90%, 100% 90%, 100% 0%); */
  font-family: "Yanone Kaffeesatz", sans-serif;
  line-height: 1.25rem;
}

.btn {
  padding: 0.1rem 0.75rem;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
